{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<!-- <div class="row">
    <div class="col-3">
        <h3>Register</h3>
        <form method="post" action="{% url 'users:register' %}">
            {% csrf_token %} {{ register_form | crispy }}
            <button type="submit" class="btn btn-primary">Register</button>
            <span class="ms-2">Already have an account?</span>
            <a href="{% url 'users:login' %}">Login</a>
        </div>
    </div> -->


<div class="container h-100">
    <div class="row">
        <div class="card text-black">
            <div class="card-body p-md-5">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                        <h3 class="text-center mb-4">Register</h3>
                        <form method="post" action="{% url 'users:register' %}">
                            {% csrf_token %} {{ register_form | crispy }}
                            <button type="submit" class="btn btn-primary">Register</button>
                            <span class="ms-2">Already have an account?</span>
                            <a href="{% url 'users:login' %}">Login</a>
                        </form>

                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}