{% extends "base.html" %} {% load crispy_forms_tags %} {% block title %} {{book.title}} {% endblock title %} {%block content %}
<div class="row mb-4">
    <div class="col-2 mb-4">
        <img src="{{book.cover_pic.url}}" alt="cover_pic" class="cover-pic">
    </div>
    <div class="col-6 ms-4">
        <h1>{{book.title}}</h1>
        <p>
            {{book.description}}
        </p>
    </div>
</div>




<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <div class="card-footer py-3 border-0" style="background-color: #f8f9fa">
                    <div class="d-flex flex-start w-100">
                        <img src="{{user.profile_pic.url}}" alt="profile_pic" id="commenter-profile-pic">
                        <div class="form-outline w-100">
                            <form action="{% url 'books:add_review' book.id %}" method="post">
                                {% csrf_token %} {{ review_form | crispy }}

                                <button type="submit" class="btn btn-primary btn-sm">Add Review</button>
                                <button type="button" class="btn btn-primary btn-sm float-end">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% if book.bookreview_set.exists %}
<div class="mt-2">
    <h4 class="mb-2">Recent reviews</h4>
    {% for review in book.bookreview_set.all %}
    <div class="row">
        <div class="col-xl-8">
            <div class="card mb-3">
                <div class="card-body p-4">
                    <div class="d-flex">
                        <img class="rounded-circle me-3 " src="{{review.user.profile_pic.url}} " alt="avatar " width="60 " height="60 " />
                        <div>
                            <h6 class="fw-bold mb-1 text-primary ">{{review.user.username}}</h6>
                            <span class="fw-light">rated it {{ review.rating }}</span>
                            <span class="fw-lighter float-end">{{ review.created_at }}</span>
                            <div class="d-flex align-items-center mb-3 ">
                                <div class="rating mr-2 fa " style="color: #FDCC0D ">
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star "></span>
                                </div>
                            </div>
                            <p class="mb-0 font-monospace ">
                                {{ review.comment }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %} {% endblock %}