{% extends "base.html" %} {% load crispy_forms_tags %} {% block title %} {{book.title}} {% endblock title %} {%block content %}
<div class="card mb-3 col-xl-8 border-primary">
    <div class="row m-lg-2">
        <div class="col-md-3">
            <img src="{{book.cover_pic.url}}" alt="cover_pic" class="cover-pic" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title fw-bold ">
                    {{book.title}}
                </h5>
                <h6 class="fst-italic fw-light">
                    by {{ book.authors.first }}
                </h6>
                <div class="rating" style="color: #FDCC0D ">
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                </div>

                <p class="card-text">
                    {{book.description}}
                </p>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="">
        <div class="card col-xl-8 border-dark">
            <div class="card-body">
                <div class="card-footer py-3 border-0" style="background-color: #f8f9fa">
                    <div class="d-flex flex-start w-100">
                        <img src="{{user.profile_pic.url}}" alt="profile_pic" id="commenter-profile-pic">
                        <div class="form-outline w-100">
                            <form action="{% url 'books:add_review' book.id %}" method="post">
                                {% csrf_token %} {{ review_form | crispy }}

                                <button type="submit" class="btn btn-primary btn-sm">Add Review</button>
                                <button type="button" class="btn btn-primary btn-sm float-end">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% if book.bookreview_set.exists %}
<div class="card border mt-3 col-xl-8">
    {% for review in book.bookreview_set.all %}
    <div class="card  border-light mb-3">
        <div class="card-header">
            <img class="rounded-circle me-3" id="commenter-profile-pic" src="{{review.user.profile_pic.url}} " alt="avatar" />
            <h6 class="fw-bold mb-1 text-primary d-inline">{{review.user.username}}</h6>
            <span class="fw-light">rated it {{ review.rating }}</span>
            <!--Edit and delete -->
            {% if review.user == request.user %}
            <a href="{% url 'books:edit_review' book.id review.id %}" class="text-decoration-none">
                <i class="bi bi-pencil-square"></i>
            </a>
            <a href="{% url 'books:confirm_delete_review'  book.id review.id %}" class="text-decoration-none">
                <i class="bi bi-trash"></i>
            </a> {% endif %}
            <span class="fw-lighter float-end">{{ review.created_at }}</span>
            <div class="card-body text-dark">
                <p class="mb-0 font-monospace ">
                    {{ review.comment }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %} {% endblock %}