{% extends 'base.html' %} {% block title %} Book List {% endblock title %} {% block content %}

<h3>Search and browse books</h3>

<div class="row">
    <div class="col-4">
        <form method="get">
            <div class="form-group d-flex">
                <input type="text " class="form-control me-2" name="q" placeholder="Search by Book title" value=" {{ request.GET.q}}">
                <button type="submit" class="btn btn-success">Search</button>
            </div>
        </form>
    </div>
</div>






{% for book in page_obj.object_list %}
<div class="row mt-3">
    <div class="col-2 mb-4">
        <a href="{% url 'books:book_detail' book.id %}" class="pe-auto">
            <img src="{{ book.cover_pic.url }} " alt="cover_pic " class="cover-pic shadow-lg p-3 mb-5 bg-body rounded">
        </a>
    </div>

    <div class="col-6 ms-4">
        <a href="{% url 'books:book_detail' book.id %}" class="pe-auto">{{ book.title }}</a>
        <p>
            {{ book.description }}
        </p>
    </div>

</div>

{% endfor %}

<nav aria-label="Page navigation example ">
    <ul class="pagination justify-content-center ">
        {% if page_obj.has_previous %}
        <li class="page-item "><a class="page-link " href="?page=1 ">&laquo; first</a></li>
        <li class="page-item "><a class="page-link " href="?page={{ page_obj.previous_page_number }} ">previous</a></li>
        {% endif %}

        <li class="page-item active ">
            <a href="# " class="page-link ">{{ page_obj.number }}</a>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item "><a class="page-link " href="?page={{ page_obj.next_page_number }} ">next</a>
        </li>
        <li class="page-item "><a class="page-link " href="?page={{ page_obj.paginator.num_pages }} ">last
                        &raquo;</a></li>
        {% endif %}


    </ul>
</nav>



<br /> {% endblock %}